/direct_test_mode_s110_pca10028.crun
/direct_test_mode_s110_pca10028.dbgdt
/direct_test_mode_s110_pca10028.dni
/direct_test_mode_s110_pca10028.nrf51422_xxac.cspy.bat
/direct_test_mode_s110_pca10028.nrf51422_xxac.driver.xcl
/direct_test_mode_s110_pca10028.nrf51422_xxac.general.xcl
/direct_test_mode_s110_pca10028_nrf51422_xxac.jlink
